$primario: rgb(36, 36, 36);
$secundario: yellow;
$black : grey;
$destacado : red;
$titulo : black;
$contenido : grey;
$claro: rgba(219, 216, 203, 0.925);


.contenido {
  background-color: $claro;
}
.sidebar {
  background-color: $primario;
}
.footer {
  background-color: $secundario;
}
.sidebar__login {
  background-color: $claro;
  border-color: white;
}

$color-redes:  (
  facebook: blue,
  twitter: rgb(89, 162, 190),
  email:red
);

@each $nombre-red, $bgcolor in $color-redes {
  .btn-#{$nombre-red} {
    background-color: $bgcolor !important;
  }
}